<div class="container">  
  <!--- Start of Menu-->
          <div class="row" id="Menu">
    <div class="col navMenu">
          <h2 class="text-center" >~ Blog récent ~</h2>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-md-4" data-aos="slide-up">
      <div class="card view zoom">
          <img class="card-img-top img-fluid " src="assets/images/meat-menu.jpg">
          <div class="card-body">
            <h5 class="card-title">~ Meat Menu ~</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-md-4" data-aos="slide-up">
      <div class="card">
          <img class="card-img-top img-fluid " src="assets/images/fish-menu.jpg">
          <div class="card-body">
            <h5 class="card-title">~ Fish Menu ~</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-md-4" data-aos="slide-up">
      <div class="card">
          <img class="card-img-top img-fluid" src="assets/images/menu-vegetarian.jpg">
          <div class="card-body">
            <h5 class="card-title">~ Vegetarian Menu ~</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div>
  <!--- End of Menu -->
</div>